
@{
    ViewBag.Title = "Activation";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="space"></div>
<h2 class="baslik">Hesap Aktivastyonu</h2>
<hr />
<style>
    .baslik {
        font-weight: 600;
        color: #DF9433;
        font-size: 24px;
        padding: 10px 0;
        text-align: center;
    }

    .sifreyenikural {
        padding: 10px;
        font-weight: 400;
        text-align: center;
    }
</style>
<div class="sifreyenikural">
    <div>
        <h1> @ViewBag.Message</h1>
    </div>
</div>
<div class="space"></div>