
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Kategori>

@{
    ViewBag.Title = "kategorilist";
    var kategori = (alenen.Kategori)ViewBag.kategori;
    Layout = "~/Views/Shared/MainLayout.cshtml";
}



<section class="companies-info">
    <div class="container">
        <div class="company-title">
            <h3>Kategoriler</h3>
        </div><!--company-title end-->
        <div class="companies-list">
            <div class="row">





                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="company_profile_info">
                            <div class="company-up-info">

                                <h3>@item.kategoriad</h3>
                                <img src="~/Content/images/@item.resim" />
                                <style>
                                    .company-up-info img {
                                        max-height: 50%;
                                        max-width: 50%
                                    }
                                </style>

                            </div>
                         
                            <a href="/Kategori/@item.kategoriad.Replace(" ","-").Replace("+","-").Replace("(","-").Replace(")","-").Replace("/","-").Replace("?","-").Replace("!","-")/@item.kategoriid">Tüm Konuları Gör</a>
                        </div><!--company_profile_info end-->
                    </div>

                }


          
                <div class="pagination">
                    @Html.PagedListPager(Model, page => Url.Action("kategorilist", new { Page = page }))

                </div>







            </div>
        </div><!--companies-list end-->

    </div>
</section>

