
@{
    ViewBag.Title = "kurallar";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<section class="profile-account-setting">
    <div class="container">
        <div class="account-tabs-setting">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
                            <div class="acc-setting">
                                <h3>Kurallarımız ve Yardımcı Bilgiler</h3>
                                <form>
                                    <div class="notbar">
                                       
                                        <p>1. alenen.com yöneticileri ve moderatörleri her ne kadar, her türlü uygunsuz ve itiraz edilebilecek içerik ve materyali olabildiğince kısa sürede  silecek olsalar da, bütün mesajların incelenmesi mümkün olamayabilmektedir. Gönderilen her mesaj, onu gönderenin görüşlerini yansıtmakta ve yazarının sorumluluğu altında olup, kendilerine ait mesajlar dışında moderatörler, adminler ya da webmasterlar kullanıcı mesajlarının içeriğinden dolayı sorumlu tutulamazlar. </p>
                                    <div class="toggle-btn">
                                            <a href="#" title=""><img src="images/up-btn.png" alt=""></a>
                                        </div>
                                    </div><!--notbar end-->
                                    <div class="notbar">
                                        
                                        <p>2. anlenen.com orijinal yazılım kullanımını desteklemekte ve önermektedir. Gerek site yapısında, gerek ise birlikte çalışılan sunucuda lisanslı işletim sistemleri, yazılımlar kullanılmaktadır. Kullanıcılarımıza da, sevdikleri yazılımların orijinalini almalarını ve kullanmalarını tavsiye ediyoruz.</p> 
                                    <div class="toggle-btn">
                                            <a href="#" title=""><img src="images/up-btn.png" alt=""></a>
                                        </div>
                                    </div><!--notbar end-->
                                    <div class="notbar">
                                        
                                        <p>
                                           3. Takma isimler : Kullanıcılarımızdan,  üye olurken genel kabul gören ahlaki değerlere uygun olan bir takma ad almalarını rica ederiz. Aksi fark edildiği durumda kullanıcıya haber verilmeksizin kullanıcı adları ve hesapları silinebilir. Alınan takma adlardan dolayı sitemiz bir sorumluluk kabul etmemekte sorumluluk kayıt olan kişiye aittir.
                                        </p> 

                                    <div class="toggle-btn">
                                            <a href="#" title=""><img src="images/up-btn.png" alt=""></a>
                                        </div>
                                    </div><!--notbar end-->    <div class="notbar">
                                        
                                                                   <p>
                                                                      4. alenen.com yöneticileri ve alt yapısı yazdığınız her mesajı sonsuza kadar saklamak zorunda değildir. Alt yapı sorunları ve başka sorunlar nedeniyle mesajlar silinebilir yada kaybolabilir. Kullanıcını başvururken bunları kabul etmiş sayılır.
                                                                   </p> 

                                    <div class="toggle-btn">
                                            <a href="#" title=""><img src="images/up-btn.png" alt=""></a>
                                        </div>
                                    </div><!--notbar end-->    
                                    <div class="notbar">
                                        
                                        <p>
                                           5. alenen.com hak kısıtlamaları yöneticiler tarafından değiştirilebilmektedir   bu yüzden bu yönde maddeler ilerde bu anlaşmaya eklenebilir ve kullanıcı bu maddeleri kabul etmiş sayılır.
                                        </p> 

                                    <div class="toggle-btn">
                                            <a href="#" title=""><img src="images/up-btn.png" alt=""></a>
                                        </div>
                                    </div><!--notbar end-->
                                    <div class="notbar">
                                        
                                                                   <p>
                                                                      6. Site kirliliği : siteyi kullanırken  konuları, ait oldukları başlıklar altına açmanızı rica ederiz. Gereksiz başlıklar açmamaya, aynı veya benzer bir konuda daha önce başka bir başlık açılıp açılmadığını 'Arama'  fonksiyonunu kullanarak kontrol ettikten sonra başlığı açmaya, gereksiz ve flooding niteliği taşıyabilecek sıklıkta mesaj atmamaya özen gösteriniz.
                                                                   </p> 

                                    <div class="toggle-btn">
                                            <a href="#" title=""><img src="images/up-btn.png" alt=""></a>
                                        </div>
                                    </div><!--notbar end-->
                                      <div class="notbar">
                                        
                                                                   <p>
                                                                      7. Huzur ve düzen : Her nekar özgürr düşünce ve konuşmayı destekleyen bir ptalform olmak girişiminde isek te bazı ahlak ve edep kuralları çerçevesinde hareket zounluluğumuz olduğunu sizlere hatırlatmak isteriz. Ne kendinizi nede bizleri zan altında bırakarak suçlu pozisyonuna sokmamanızı rica ederiz.
                                                                   </p> 

                                    <div class="toggle-btn">
                                            <a href="#" title=""><img src="images/up-btn.png" alt=""></a>
                                        </div>
                                    </div><!--notbar end-->
                                   
                                </form>
                            </div><!--acc-setting end-->
                        </div>

                       
                    </div>
                </div>
            </div>
        </div><!--account-tabs-setting end-->
    </div>
</section>
