
@{
    ViewBag.Title = "uyeliksozlesme";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<section class="profile-account-setting">
    <div class="container">
        <div class="account-tabs-setting">
            <div class="row">

                <div class="col-lg-12">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
                            <div class="acc-setting">
                                <h3>
                                  Üyelik Sözleşmesi
                                </h3>
                                <form>
                                    <div class="notbar">
                                        <p>
                                            1. Taraflar
                                            a) www.Alenen.com internet sitesinin faaliyetlerini yürüten Kuştepe Mah. Mecidiyeköy Yolu Cad. Trump Towers Kule 2 Kat:2 No:12 34387 Şişli/İstanbul adresinde mukim D-Market Elektronik Hizmetler ve Ticaret A.Ş. (Bundan böyle “Alenen” olarak anılacaktır).

                                            b) www.Alenen.com internet sitesine üye olan internet kullanıcısı ("Üye")
                                        </p>
                                        <p>
                                            2. Sözleşmenin Konusu
                                            İşbu Sözleşme’nin konusu Alenen’nın sahip olduğu internet sitesi www.Alenen.com ‘dan üyenin faydalanma şartlarının belirlenmesidir.
                                        </p>
                                        <p>
                                            3. Tarafların Hak ve Yükümlülükleri
                                        </p>
                                        <p>
                                            3.1. Üye, www.Alenen.com internet sitesine üye olurken verdiği kişisel ve diğer sair bilgilerin kanunlar önünde doğru olduğunu, Alenen'nın bu bilgilerin gerçeğe aykırılığı nedeniyle uğrayacağı tüm zararları aynen ve derhal tazmin edeceğini beyan ve taahhüt eder.
                                        </p>
                                        <p>
                                            3.2. Üye, Alenen tarafından kendisine verilmiş olan şifreyi başka kişi ya da kuruluşlara veremez, üyenin sözkonusu şifreyi kullanma hakkı bizzat kendisine aittir. Bu sebeple doğabilecek tüm sorumluluk ile üçüncü kişiler veya yetkili merciler tarafından Alenen'ya karşı ileri sürülebilecek tüm iddia ve taleplere karşı, Alenen'nın sözkonusu izinsiz kullanımdan kaynaklanan her türlü tazminat ve sair talep hakkı saklıdır.
                                        </p>
                                        <p>
                                            3.3. Üye www.Alenen.com internet sitesini kullanırken yasal mevzuat hükümlerine riayet etmeyi ve bunları ihlal etmemeyi baştan kabul ve taahhüt eder. Aksi takdirde, doğacak tüm hukuki ve cezai yükümlülükler tamamen ve münhasıran üyeyi bağlayacaktır.
                                        </p>
                                        <p>
                                            3.4. Üye, www.Alenen.com internet sitesini hiçbir şekilde kamu düzenini bozucu, genel ahlaka aykırı, başkalarını rahatsız ve taciz edici şekilde, yasalara aykırı bir amaç için, başkalarının fikri ve telif haklarına tecavüz edecek şekilde kullanamaz. Ayrıca, üye başkalarının hizmetleri kullanmasını önleyici veya zorlaştırıcı faaliyet (spam, virus, truva atı, vb.) ve işlemlerde bulunamaz.
                                        </p>
                                        <p>
                                            3.5. www.Alenen.com internet sitesinde üyeler tarafından beyan edilen, yazılan, kullanılan fikir ve düşünceler, tamamen üyelerin kendi kişisel görüşleridir ve görüş sahibini bağlar. Bu görüş ve düşüncelerin Alenen'yla hiçbir ilgi ve bağlantısı yoktur. Alenen'nın üyenin beyan edeceği fikir ve görüşler nedeniyle üçüncü kişilerin uğrayabileceği zararlardan ve üçüncü kişilerin beyan edeceği fikir ve görüşler nedeniyle üyenin uğrayabileceği zararlardan dolayı herhangi bir sorumluluğu bulunmamaktadır.
                                        </p>
                                        <p>
                                            3.6. Alenen, üye verilerinin yetkisiz kişilerce okunmasından ve üye yazılım ve verilerine gelebilecek zararlardan dolayı sorumlu olmayacaktır. Üye, www.Alenen.com internet sitesinin kullanılmasından dolayı uğrayabileceği herhangi bir zarar yüzünden Alenen'dan tazminat talep etmemeyi peşinen kabul etmiştir.
                                        </p>
                                        <p>
                                            3.7. Üye, diğer internet kullanıcılarının yazılımlarına ve verilerine izinsiz olarak ulaşmamayı veya bunları kullanmamayı kabul etmiştir. Aksi takdirde, bundan doğacak hukuki ve cezai sorumluluklar tamamen üyeye aittir.
                                        </p>
                                        <p>
                                            3.8. İşbu üyelik sözleşmesi içerisinde sayılan maddelerden bir ya da birkaçını ihlal eden üye işbu ihlal nedeniyle cezai ve hukuki olarak şahsen sorumlu olup, Alenen’yı bu ihlallerin hukuki ve cezai sonuçlarından ari tutacaktır. Ayrıca; işbu ihlal nedeniyle, olayın hukuk alanına intikal ettirilmesi halinde, Alenen'nın üyeye karşı üyelik sözleşmesinee uyulmamasından dolayı tazminat talebinde bulunma hakkı saklıdır.
                                        </p>
                                        <p>
                                            3.9. Alenen'nın her zaman tek taraflı olarak gerektiğinde üyenin üyeliğini silme, müşteriye ait dosya, belge ve bilgileri silme hakkı vardır. Üye işbu tasarrufu önceden kabul eder. Bu durumda, Alenen'nın hiçbir sorumluluğu yoktur.
                                        </p>
                                        <p>
                                            3.10. www.Alenen.com internet sitesi yazılım ve tasarımı Alenen mülkiyetinde olup, bunlara ilişkin telif hakkı ve/veya diğer fikri mülkiyet hakları ilgili kanunlarca korunmakta olup, bunlar üye tarafından izinsiz kullanılamaz, iktisap edilemez ve değiştirilemez. Bu web sitesinde adı geçen başkaca şirketler ve ürünleri sahiplerinin ticari markalarıdır ve ayrıca fikri mülkiyet hakları kapsamında korunmaktadır.
                                        </p>
                                        <p>
                                            3.11. Alenen tarafından www.Alenen.com internet sitesinin iyileştirilmesi, geliştirilmesine yönelik olarak ve/veya yasal mevzuat çerçevesinde siteye erişmek için kullanılan İnternet servis sağlayıcısının adı ve Internet Protokol (IP) adresi, Siteye erişilen tarih ve saat, sitede bulunulan sırada erişilen sayfalar ve siteye doğrudan bağlanılmasını sağlayan Web sitesinin Internet adresi gibi birtakım bilgiler toplanabilir.
                                        </p>
                                        <p>
                                            3.12. Alenen kullanıcılarına daha iyi hizmet sunmak, ürünlerini ve hizmetlerini iyileştirmek, sitenin kullanımını kolaylaştırmak için kullanımını kullanıcılarının özel tercihlerine ve ilgi alanlarına yönelik çalışmalarda üyelerin kişisel bilgilerini kullanabilir. Alenen, üyenin www.Alenen.com internet sitesi üzerinde yaptığı hareketlerin kaydını bulundurma hakkını saklı tutar.
                                        </p>
                                        <p>
                                            3.13. Alenen’ya üye olan kişi, yürürlükte bulunan ve/veya yürürlüğe alınacak uygulamalar kapsamında Alenen ve Doğan Online (DOL) iştiraki olan tüm şirketler tarafından kendisine ürün ve hizmet tanıtımları, reklamlar, kampanyalar, avantajlar, anketler ve diğer müşteri memnuniyeti uygulamaları sunulmasına izin verdiğini beyan ve kabul eder. Üye, Alenen’ya üye olurken ve/veya başka yollarla geçmişte vermiş olduğu ve/veya gelecekte vereceği kişisel ve alışveriş bilgilerinin ve alışveriş ve/veya tüketici davranış bilgilerinin yukarıdaki amaçlarla toplanmasına, DOL iştiraki olan tüm şirketler ile paylaşılmasına, Alenen ve DOL iştiraki olan tüm şirketler tarafından kullanılmasına ve arşivlenmesine izin verdiğini beyan ve kabul eder. Üye aksini bildirmediği sürece üyeliği sona erdiğinde de verilerin toplanmasına, DOL iştiraki olan tüm şirketler ile paylaşılmasına, Alenen ve DOL iştiraki olan tüm şirketler tarafından kullanılmasına ve arşivlenmesine izin verdiğini beyan ve kabul eder. Üye aksini bildirmediği sürece Alenen ve DOL iştiraki olan tüm şirketlerin kendisi ile internet, telefon, SMS, vb iletişim kanalları kullanarak irtibata geçmesine izin verdiğini beyan ve kabul eder. Üye yukarıda bahsi geçen bilgilerin toplanması, paylaşılması, kullanılması, arşivlenmesi ve kendisine erişilmesi nedeniyle doğrudan ve/veya dolaylı maddi ve/veya manevi menfi ve/veya müsbet, velhasıl herhangi bir zarara uğradığı konusunda talepte bulunmayacağını ve Alenen ve DOL iştiraki olan şirketleri sorumlu tutmayacağını beyan ve kabul eder. Üye, kişisel verileri ile ilgili detaylı bilgiye https://www.Alenen.com/kisisel-verilerin-korunmasi adresinden ulaşabilir.
                                        </p>
                                        <p>
                                            3.14. Alenen, üyenin kişisel bilgilerini yasal bir zorunluluk olarak istendiğinde veya (a) yasal gereklere uygun hareket etmek veya Alenen’ya tebliğ edilen yasal işlemlere uymak; (b) Alenen ve Alenen web sitesi ailesinin haklarını ve mülkiyetini korumak ve savunmak için gerekli olduğuna iyi niyetle kanaat getirdiği hallerde açıklayabilir.
                                        </p>
                                        <p>
                                            3.15. Alenen web sitesinin virus ve benzeri amaçlı yazılımlardan arındırılmış olması için mevcut imkanlar dahilinde tedbir alınmıştır. Bunun yanında nihai güvenliğin sağlanması için kullanıcının, kendi virus koruma sistemini tedarik etmesi ve gerekli korunmayı sağlaması gerekmektedir. Bu bağlamda üye Alenen web sitesi'ne girmesiyle, kendi yazılım ve işletim sistemlerinde oluşabilecek tüm hata ve bunların doğrudan ya da dolaylı sonuçlarından kendisinin sorumlu olduğunu kabul etmiş sayılır.
                                        </p>
                                        <p>
                                            3.16. Alenen, sitenin içeriğini dilediği zaman değiştirme, kullanıcılara sağlanan herhangi bir hizmeti değiştirme ya da sona erdirme veya Alenen web sitesi'nde kayıtlı kullanıcı bilgi ve verilerini silme hakkını saklı tutar.
                                        </p>
                                        <p>
                                            3.17. Alenen, üyelik sözleşmesinin koşullarını hiçbir şekil ve surette ön ihbara ve/veya ihtara gerek kalmaksızın her zaman değiştirebilir, güncelleyebilir veya iptal edebilir. Değiştirilen, güncellenen ya da yürürlükten kaldırılan her hüküm , yayın tarihinde tüm üyeler bakımından hüküm ifade edecektir.
                                        </p>
                                        <p>
                                            3.18. Taraflar, Alenen'ya ait tüm bilgisayar kayıtlarının tek ve gerçek münhasır delil olarak, HUMK madde 287'ye uygun şekilde esas alınacağını ve söz konusu kayıtların bir delil sözleşmesi teşkil ettiği hususunu kabul ve beyan eder.
                                        </p>
                                        <p>
                                            3.19. Alenen, iş bu üyelik sözleşmesi uyarınca, üyelerinin kendisinde kayıtlı elektronik posta adreslerine bilgilendirme mailleri ve cep telefonlarına bilgilendirme SMS’leri gönderme yetkisine sahip olmakla beraber, üye işbu üyelik sözleşmesini onaylamasıyla beraber bilgilendirme maillerinin elektronik posta adresine ve bilgilendirme SMS’lerinin cep telefonuna gönderilmesini kabul etmiş sayılacaktır. Üye mail ve/veya SMS almaktan vazgeçmek istemesi durumunda “Benim Sayfam” bölümündeki “Tercihlerim” kısmından mail ve/veya SMS gönderim iptal işlemini gerçekleştirebilecektir.
                                        </p>
                                        <p>
                                            4. Sözleşmenin Feshi
                                            İşbu sözleşme üyenin üyeliğini iptal etmesi veya Alenen tarafından üyeliğinin iptal edilmesine kadar yürürlükte kalacaktır. Alenen üyenin üyelik sözleşmesinin herhangi bir hükmünü ihlal etmesi durumunda üyenin üyeliğini iptal ederek sözleşmeyi tek taraflı olarak feshedebilecektir.
                                        </p>
                                        <p>
                                            5. İhtilaflerin Halli
                                            İşbu sözleşmeye ilişkin ihtilaflerde İstanbul Mahkemeleri ve İcra Daireleri yetkilidir.
                                        </p>
                                        <p>
                                            6. Yürürlük
                                            Üyenin, üyelik kaydı yapması üyenin üyelik sözleşmesinde yer alan tüm maddeleri okuduğu ve üyelik sözleşmesinde yer alan maddeleri kabul ettiği anlamına gelir. İşbu Sözleşme üyenin üye olması anında akdedilmiş ve karşılıklı olarak yürürlülüğe girmiştir.
                                        </p>
                                            <div class="toggle-btn">
                                            <a href="#" title=""><img src="images/up-btn.png" alt=""></a>
                                        </div>
                                    </div><!--notbar end-->

                                </form>
                            </div><!--acc-setting end-->
                        </div>


                    </div>
                </div>
            </div>
        </div><!--account-tabs-setting end-->
    </div>
</section>

