
<div class="suggestions full-width">

    <div class="bannersol">

        <a href="https://www.kirtasiyecim.net/" target="_blank"> <img src="~/Content/images/Banner/Left Banner.png" /></a>
    </div>
</div>

<style>
   .bannersol img{
       margin:5px;
       float:none!important;
      
   }

</style>