@model IEnumerable<alenen.AnaKategori>

  
        <div class="suggestions full-width">
            <div class="sd-title">
                <h3>Ana Kategoriler</h3>

            </div><!--sd-title end-->
            <div class="suggestions-list">
                @foreach (var item in Model)
                {
                <div class="suggestion-usd">
                    <img src="~/Content/images/icons/@Html.DisplayFor(modelItem => item.resim)" alt="">
                    <div class="sgt-text">
                        <h4>@Html.DisplayFor(modelItem => item.anakatad)</h4>


                    </div>

                    <span><a href="/AnaKategori/@item.anakatad.Replace(" ","-").Replace("+","-").Replace("(","-").Replace(")","-").Replace("/","-").Replace("?","-").Replace("!","-")/@item.anakatid"><i class="la la-eye"></i></a></span>
                </div>

                }
                <div class="view-more">
                    <a href="/anakategoriler" title="">Daha Fazla</a>
                </div>
            </div><!--suggestions-list end-->
        </div><!--suggestions end-->

   

